/.venv
/.vscode
/__pycache__
/model.h5
/data
/.devcontainer
/PDF
/model.bin
/.ipynb_checkpoints
/notebooks/.ipynb_checkpoints
/data_spam
/notebooks/spam.ipynb
/test_spam_model.py
/presentacion_spam_model.md
